.content
  padding: 16px
  display: flex
  justify-content: center

.mat-input-flex.mat-form-field-flex
  border: 1px solid black

.mat-form-field
  margin: 10px 16px 16px 10px
  width: 500px

.example-full-width
  margin-bottom: 10px
  padding-left: 10px
  width: 300px

.decodeInput
  margin-top: 10px

.lefBtn
  margin-left: 30px

.headTxt
  text-align: center
