<mat-toolbar class="headTxt">
  <span>LETS CODE A WORD</span>
</mat-toolbar>

<div class="container content">
  <mat-card>
    <mat-card-content>
      <form #f="ngForm" fxLayout="column">

        <mat-form-field appearance="outline">
          <mat-label>Encode</mat-label>
          <textarea
            type="text"
            matInput
            name="encode"
            ngModel
            AutofillMonitor
            cdkTextareaAutosize
          ></textarea>
        </mat-form-field>

        <div class="passBlock">
          <button
            mat-button
            class="lefBtn"
            color="accent"
            (click)="coding()"
          >
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              name="password"
              ngModel
              AutofillMonitor
              maxlength="256"
              required>
          </mat-form-field>

          <button
            mat-button
            color="accent"
            (click)="decoding()"
          >
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
        </div>

        <mat-form-field class="decodeInput" appearance="outline">
          <mat-label>Decode</mat-label>
          <textarea
            type="text"
            matInput
            name="decode"
            ngModel
            AutofillMonitor
            cdkTextareaAutosize
          ></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
